.owl-carousel 
.owl-item 
img {
    width: 350px;
    height: 350px;
}

.banner-img-custom {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 350px;
    width: auto;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}

.banner-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 10px;
    font-size: 32px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 15px;
}

.subcategory-icon {
    max-height: 159px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.categories-icon {
    height: 54vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.img-product {
    height: 250px !important;
    width: 250px !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.active-custom {
    color: #fff;
    margin: 10px 10px;
}

.active-sub {
    color: #fcb502 !important;
}

@media (max-width: 990px) {
    .banner-product {
        margin-top: 100px;
    }

    .banner-img-custom {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .service-home {
        margin-top: 75px !important;
    }
}

@media (min-width: 990px) {
    .banner-img-custom {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
}